<app-navbar></app-navbar>
<div class="general-container">
    <div class="left-general">

        <div class="left-container">
            <div class="title">General Instructions</div>
            <img src="../../../assets//candidategeneralinstructionbg.png">
        </div>
        <div class="top-left">
            <div class="htmlTemplateBody">
                <div class="htmlbodyadjusting" [innerHTML]="htmlTemplate"></div>
            </div>
        </div>
         <br>
        <div class="centered">
            <button style="cursor: pointer;" (click)="nextPage()">Proceed</button>
        </div>

    </div>
    <div class="right-general">
        <!-- <div class="box firstbox">
            <div class="box-inside">
                <div class="smalltitle">Platform instructions</div>
                <div class="semismall">Know how Auto-Proctoring works.</div>
                <div class="btn-ic">
                    <div class="left">
                        <a href="https://info.lntedutech.com/#platform-instructions" target='_blank'>  <button style="cursor: pointer;" class="firstbtn"> View Instructions<mat-icon>arrow_right_alt</mat-icon></button></a>
                    </div>
                   <div class="right">
                    <img src="../../../assets/candidateviewinstruction.png">
                   </div>
                </div>
            </div>
        </div>
        <div class="box secondbox">
            <div class="box-inside">
                <div class="smalltitle">Device Check</div>
                <div class="semismall">Check your device settings before starting the test.</div>
                <div class="btn-ic">
                    <div class="left">
                        <a href="https://lntproctor.lntedutech.com/api/check" target='_blank'><button class="secondbtn"> Check Now  <mat-icon>arrow_right_alt</mat-icon></button></a>
                    </div>
                    <div class="right">
                        <img src="../../../assets/candidatedevicecheck.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="box thirdbox">
            <div class="box-inside">
                <div class="smalltitle">Need Help?</div>
                <div class="semismall">In case of any technical issues, contact us at:</div>
                <div class="btn-ic">
                    <div class="left">
                        <span class="error"><a href = "mailto: assess.support@lntedutech.com">assess.support@lntedutech.com</a></span>
                    </div>
                    <div class="right">
                        <img src="../../../assets/candidatemail.png">
                    </div>

                </div>
            </div>
        </div> -->
    </div>

</div>