<form [formGroup]="searchForm" novalidate>
  <div class="no-wrap form-group">
    <mat-form-field appearance="outline" class="search-assess">
      <span matPrefix> </span>
      <input class="input-search" type="text" matInput [placeholder]="searchPlaceHolder" formControlName="search">
      <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="search.reset()"><mat-icon
          *ngIf="search.value">close</mat-icon><mat-icon *ngIf="!search.value">search</mat-icon></button>
    </mat-form-field>

    <!-- <mat-form-field class="pull-left input-width" >
      <input
        formControlName="search"
        class="input-transparent inputBgOpaque"
        type="text"
        [placeholder]="searchPlaceHolder"
        matInput
      />
      
      <button
        type="button"
        mat-button
        *ngIf="search.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search.reset()"
      > 
      
      <mat-icon>close</mat-icon>
      </button>
      <mat-icon  *ngIf="!search.value">search</mat-icon>
    </mat-form-field> -->
  </div>
</form>