<!-- <div class="Videoassessments"> -->
<section class="container1">
    <div class="leftHalf">
        <h5>Questions</h5>
        <!-- (click)="getTime(qus.questionDetails.duration,i,qusInfo.length,activequs);" *ngFor="let qus of qusInfo;let i=index" [ngClass]="{ blue : i == activequs}" -->
        <div class="qusCard">
            <div class="qusAlign" *ngFor="let qus of qusInfo; let i=index" [ngClass]="{ blue : i == activequs}">
                <span>Q{{i + 1}}.</span> <span [ngClass]="{ blur : i > activequs}">{{i > activequs ? 'XXXXXXX XXXXXXXXXX' :qus.questionDetails.question}}</span>
            </div>
        </div>
    </div>


    <div class="rightHalf">
        <div class="info">
            <p><span class="material-icons-outlined">info</span> In a video-based question, you will be presented with a
                question in video form and be given several minutes to respond to each question</p>
        </div>
        <div class="duration">
            <div class="note">
                <h4>Video Response</h4>
                <p *ngIf="activequs != qusInfo.length -1"><strong>Note :</strong> You will be automatically redirected to next question once question duration is completed.</p>
                <p *ngIf="activequs == qusInfo.length -1"><strong>Note :</strong> You will be automatically submitted once the question duration is completed.</p>
            </div>
            <div class="clock">
                <span class="material-icons-outlined timer">timer</span>
                <span class="time">Question duration : <strong>{{qusTime}}</strong></span>
            </div>
        </div>
        <div class="wrapper">
            <!-- <span style="color:#000">{{countdownStart}}{{timeLeft}}</span> -->
            <div class="recordCount" *ngIf="!isStartbtn">
                <div class="d-flex record-bx">
                    <span class="reddot"></span>
                    <span class="recordCount">
                        <countdown #cd class="timer" (event)="handleEvent($event,activequs)" [config]="config">
                        </countdown>
                        <!-- <cd-timer style="display: none;"  class="timer" (onStart)="onStart($event)" [startTime]="countdownStart" [endTime]="timeLeft"  (onComplete)="onComplete($event,activequs)" format="hms"></cd-timer> -->
                    </span>
                </div>
            </div>

            <div class="videoFrame">
                <iframe class="frame" *ngIf="proctorFile" id="preview-Iframe" [src]="proctorFile | safe"
                    title="description" height="auto" #iframe></iframe>
                <div class="playpause" *ngIf="isStartbtn">
                    <button class="btn" [disabled]="isStartEnable" mat-button
                        (click)="startRecord(activequs,'start',true);">
                        <mat-icon class="video-color">videocam</mat-icon>Start Recording</button>
                </div>
            </div>

        </div>
        <div class="wrapword">
            <div class="right-con">
                <!-- <mat-icon class="clock-color">access_alarms</mat-icon><span class="time">Question duration : <b>{{qusTime}}   -->
                <!-- <countdown #cd  (event)="handleEvent($event)" [config]="{ leftTime: timeLeft, demand: true, format: 'HH:mm:ss' }"></countdown> -->
                <!-- </b></span> -->
                <!-- <div class="alert">
                    <mat-icon class="alert-color">info</mat-icon>
                    <span class="alertInfo">a video-based question, you will be presented with a question in video form and be given several minutes to respond to each question</span>
                </div> -->

                <!-- Questions duration -->
                <div class="sub-head">
                    <!-- <div>
                        <div class="qusCard">
                            <div class="qusAlign" *ngIf="displayQus">
                                <span>{{displayQus}}</span>
                            </div>
                        </div>
                    </div> -->
                </div>


                <div class="button-grid">
                    <!-- [disabled]="isNextBtn" -->
                    <!-- <button *ngIf="activequs > 0" class="btn-previous" mat-button (click)="previousQus(activequs,'previous')">Previous</button> -->


                    <div >
                        <!-- <button *ngIf="activequs != qusInfo.length -1" class="btn-next" mat-button
                            (click)="nextQus(activequs,'next')">Next</button> -->
                           

                        <!-- <button *ngIf="activequs == qusInfo.length -1" class="btn-next" mat-button
                            (click)="onSubmit(activequs,'submit')">Submit</button> -->
                    </div>

                    <!-- <button *ngIf="activequs != qusInfo.length -1" class="btn-skip" mat-button (click)="nextQus(activequs,'skip')">Skip</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </div> -->

<ng-template #matDialog1>
    <div class="tick">
        <span class="material-icons-outlined">task_alt</span>
    </div>

    <h2>Thank you for taking video assessment</h2>
    <p>HR will contact you for next process.</p>
    <div class="close">
        <button mat-button mat-dialog-close (click)="navToLanding()">Close</button>
    </div>
</ng-template>