@import 'index';

.editpage-warpper {
  margin-top: 7%;
}

// ::ng-deep .mat-select-panel{
//   left: 11px !important;
//   position: relative !important;
// }

%header-block__common-styles {
  font-weight: 700;
  font-style: normal;
  font-family: $uap-roboto-condensed;
}

.header-block {
  max-width: 645px;
  height: 10px;


  &__title-font-size {
    @extend %header-block__common-styles;
    color: $uap-black;
    font-size: 26px;
    position: relative;
    top: 6px;
    left: 18px;
  }

  &__buttons-align {
    float: right;
    position: relative;
    left: 40px;
    display: flex
  }

  &__button {
    @extend %header-block__common-styles;
    width: 112px;
    height: 34px;
    border: none;
    color: $white !important;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    background-color: $uap-lapalma !important;
    margin-right: 6px;
    // padding: 10px;
    padding: 7px 10px !important;
    position: relative;
    bottom: 2%;

    &:disabled {
      background-color: $uap-grey !important;
      cursor: not-allowed;
    }
  }

  &__exit-button {
    @extend %header-block__common-styles;
    width: 112px;
    height: 34px;
    border: none;
    color: $white;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    background-color: $uap-monza;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Assessment-name {
  position: relative;
  bottom: 10px;
}

%add-delete-button__common-style {
  border: none;
  border-radius: 15px;
  color: $white;
  cursor: pointer;
  outline: none;
  width: 125px;
  height: 32px;
  font-family: $uap-roboto-condensed;
}

%custom-input-field-placeholder__text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: $uap-light-black;
  font-family: $uap-roboto-condensed;
}

.custom-label__font {
  display: block;
  width: 192px;
  color: $uap-light-black;
  font: normal 500 18px/1 $uap-roboto-condensed;
  margin-top: 30px;
  position: relative;
}

%no-outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  border-bottom: 1px solid;
}

.create-assessment-block {
  &__align {
    padding: 30px;
  }

  &__text-area-width {
    @extend %custom-input-field-placeholder__text;
    margin-top: 16px;
    width: 645px;
    // cursor: pointer;
  }

  &__custom-input-field {
    @extend %custom-input-field-placeholder__text;
    @extend %no-outline;
    height: 30px;
    width: 645px;
    // cursor: pointer;

    &__error {
      color: $uap-red;
      font-size: 14px;
      position: absolute;
      padding-top: 3%
    }
  }

  &__select-field__width {
    @extend %custom-input-field-placeholder__text;
    margin-top: 16px;
    width: 651px;
    height: 45px;
    cursor: pointer;

  }
}


.test-title__align {
  margin-top: 25px;
  font-family: $uap-roboto-condensed;
}

.tests-block__align {
  margin-top: 16px;
  height: 200px;
  display: block;
  display: flex;
  width: 100%;
}

.test-block {
  &__currentcount-outline-circle {
    @extend %custom-input-field-placeholder__text;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid $uap-boulder;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.delete-button__align {
  @extend %add-delete-button__common-style;
  background-color: $uap-monza;
  float: right;
  margin-right: 12px;
}

.add-button__color {
  @extend %add-delete-button__common-style;
  background-color: $uap-buddha-gold;
}

.test-items-block {
  @extend %custom-input-field-placeholder__text;
  width: 608px;
  height: 50px;
  margin-left: 18px;

  &__heading-font {
    @extend .custom-label__font;
    display: inline-block;
    margin-top: 10px;
  }

  &__select-field__width {
    @extend %custom-input-field-placeholder__text;
    margin-top: 16px;
    width: 596px;
    height: 45px;
    cursor: pointer;
  }
}

.input-field__width {
  width: 100%;

}

.auto-complete-custom-input-block__align {
  margin-top: 20px;
  width: 596px;
}

.test-sequence-block__align {
  @extend .custom-label__font;
  margin-top: 25px;
}

.level {
  color: $silver-chalice;
}

::ng-deep .mat-mdc-form-field-flex {
  width: 100%;
  height: 47px;
}

