$uap-yellow: #ffcb00;
$uap-yellow-light: #f0e3b5;
$uap-pampas: #f2f0e8;
$uap-grey: #898989;
$uap-red: #c02222;
$uap-blue: #004c86;
$uap-black: #1f1a17;
$uap-red-hover: #e22c38;
$uap-nav-grey: #3a3f45;
$uap-label-grey: #3f444a;
$uap-light-blue: #32c5d2;
$uap-button-grey: #96999b;
$che-theia-menu: #3c3c3c;
$uap-mine-shaft: #333333;
$uap-la-palma: #be2020;
$uap-boulder: #cecece;
$uap-crimson: #d71116;
$uap-malachite: #22d234;
$uap-white: #fff;
$uap-black: #000;
$uap-cod-gray: #151515;
$uap-mischka: #dfe1e6;
$white: #ffff;
$uap-lapalma: #149110;
$uap-grey-light: #f9f5f5;
$uap-buddha-gold: #cc9f01;
$uap-buddha-goldb: #ab8606;
$uap-nando: #039111;
$uap-caper: #d6e8b7;
$uap-venus: #918d90;
$uap-monza: #d10016;
$uap-btn:#be2020;
$uap-alto: #dedede;
$uap-sunglo: #e46e78;
$uap-pampas1: #f2f0ea;
$uap-cotton-seed: #bfbdb7;
$uap-buddha-gold-1: #cc9f00;
$uap-rt-header: #484d54;
$uap-rt-row: #f4f4f4;
$silver-chalice: #a9a9a9;
$uap-alabaster:#fafafa;
$uap-label:#797979;
$uap-checkmark-green: #74BB68;
$uap-light-black: #666666;
$uap-btnshadow:0 2px 5px 0 #00000024,
0 2px 10px 0 #00000017;



// new color code 
$ag-button-bg: #607D8B;
$ag-button-color: #fff;
$ag-icon-color: #373331;
$common-button-bg: #1b4e9b;
$primary-text-color: #1b4e9b;
$primary-input-border-color: #1b4e9b;
$primary-color: #1b4e9b;
$primary-checkbox-color: #1b4e9b;
$primary-hover-color: #004684;
$primary-error-color: red;
$primary-error-text: red;

// $common-button-bg: #C02222;
// $primary-text-color: #C02222;
//$primary-hover-color: #C02222;

$outline-button-border: rgb(68, 42, 42);
//New end
// background
$primary-bg: #004072;
$cancel-btn: #333333;
$primary-yellow: #FFCC00;
$primary-gray: #d9d9d9 ;
$primary-red: #C02222;
$primary-red-hover: rgba(192, 34, 34, 0.5);
$non-active-sub-bg: #5c6873;
$sidebar-hover: rgb(170, 151, 75, 0.5);
$active-sub-bg: rgb(170, 151, 75, 0.5);
$active-sub-bg-hover: rgb(192, 34, 34, 0.7);
$sidebar-black: #1F1A17;
$header-bg: #F5F5F5;
$th-bg: #F5F5F5;
$table-border: rgba(112, 112, 112, 0.411);
$header-shadow: 0px 3px 6px #00000029;
$table-header: #E6E3E3;
$search-box-border: #5C6873;
$td-hover: #F8EDED;
$input-border: #707070;
$footer-bg: #EAEAEA;
$lineColor:#ccccccb0;
$footer-color: #707070;
$color-dark-border :#999 ;



$overlay-layer-bg:rgb(92, 104, 115, 0.8);
$overlay-layer-bg2:rgba(0, 63, 114, 0.85);
$layer-bg:rgba(0, 63, 114);
$app-bg:red;
$secondary: #333333;
$primary:#666666;
// $secondary: #003F72;
// $wrapper-light-gray: #EDEEF0;
$wrapper-light-gray: #fff;
$sidebar-bg: #275C87;
// $non-active-sub-bg: #555555;
// $active-sub-bg: #3274AA;
// $active-sub-bg-hover: rgba(50, 116, 170, 0.7);
$hr-bg: #FCFCFC;
$shadow-black: 0 2px 2px rgba(0, 0, 0, 0.3);
$shadow-light-black: 0px 0px 5px #00000029;
$shadow-light-custom: 0px 0px 4px #00000029;
$shadow-light-black-29: 0px 3px 6px #00000029;
$shadow-light-black-2: 0px 0px 5px #00000040;
$shadow-light-black-1: 0px 3px 6px #00000040;
$shadow-light-black-3: 0px 0px 3px #00000040;
$shadow-light-black-4: 0px 3px 14px #ffffff29;
$shadow-dark: 0px 1px 10px #00000033;
$tab-bg: #e8eefb;

// $blue-7: #3EA9DF;
// $blue-5: #D7E3EA;
// $blue: #2699fb;
// $light-blue:#077ddd;
// $lighter-blue: #8ec8f9;
// $header-blue: #145E9A;
// $blue-1: #1F3777;
// $blue-2: #3165CC;
// $blue-3: #b8d0ff;
// $blue-4: #1890ff;
$gray-5: rgb(51, 51, 51, 0.25);
// $blue-6: #275C87E6;
$blue-7: #333333;
$blue-5: rgb(51, 51, 51, 0.2);
$blue: #333333;
$light-blue:#333333;
$lighter-blue: rgb(51, 51, 51, 0.25);
$header-blue: #333333;
$blue-1: #333333;
$blue-2: #333333;
$blue-3: #333333;
$blue-4: #333333;
// $gray-5: #333333;
$blue-6: #333333;

$red-1: #DB3137;
$black:#000000;
$light-black: #333333;
$light-black-1: #444444;
$gray-dark: #808080;
$black-1: #5E5E5E;
$black-2: #4B4B4B;
$black-3: #D6D6D6;
$black-4: #5E5E5EBF;
$disable-gray: #E2E2E2;
$ag-hover: #cecece;

$light-white: #efefef;
$white:#fff;
$white-primary: #FAFAFA;
$scroll-bg: #f1f1f1;

$red: #F73737;
$green:#6bb50b;

$violet:#7b00cc;
$cyan:#26a69a;
$pink:#FF4DA5;
$dark-blue:#24255E;
$water-blue:#d6f0f8;
$orange:#fa7f2e;
$gray-1:#cbcbcb;
$gray-2:#b6b6b6;
$gray-3:#585858;
$gray-4:#A8A8A8;
$gray-8:#000000d9;
$borderColor: #1460b770;
$background: #1178cb;
$background-2: #e6ecf9;
$background-3: #3974aa;
$background-4: #e6e6e6;
$background-5: rgb(6, 125, 222, 0.26);
$background-6: #269a45;
$background-7: #EDEDED;
$background-8: #DEF0FF;
$background-9: #cecece;
$background-10: #2c5b87;
$background-11: #edf7ff;
$borderColor-2: #5e5e5e75;
$borderColor-3: #7070706c;
$borderColor-4: #6666667e;
$borderColor-5: #70707075;
$borderColor-6: #145e9a79;
$borderColor-7: #55555580;
$borderColor-8: #00000029;
$borderColor-9: rgba(0, 0, 0, 0.527);
$borderColor-10: #70707080;
$white-2: #fffdfd;
$white-3: #f7f7f7;
$white-4: #e1e7f5;
$white-5: #e5e5e5;
$pink-2: #cccccc;
$green-2: #0ebc65;

// kyc form revamp
$input-border: #bebebe;
//font
$font-size-base:1rem;
$font-size-lg:$font-size-base * 1.25;
$font-size-sm:$font-size-base * .875;
$font-size-xs:0.625rem;

$font-size-xs: .75rem;
$font-size-sm: .875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 4rem;

//font weight
$font-weight-lighter:lighter;
$font-weight-light:300;
$font-weight-normal:400;
$font-weight-bold:700;
$font-weight-bolder:bolder;



// Unified reports

//Color Defining
$primaryColor: #C02222;
$secondaryColor: #FFCC00;
$successColor: #0CD684;
$successColorDark: #43b447;
$blueColor: #205081;
$whiteColor: #ffffff;
$blackColor: #000000;
$darkGrey: #333333;
$mediumGrey: #666666;
$lightGrey: #999999;
$greyColor: #cdcdcd;
$bgColor: #E9E9E9;
$lightColor: #fafafa;
$thumbColor : #aaa;
$thumbHoverColor : #999;
$sidebar-hover: rgb(170, 151, 75, 0.5);
$sidebar-black: #1F1A17;

$mobile-min: 200px; // Mobile view
$mobile-x-min: 320px; // Mobile view
$screen-sm-min: 576px; // Mobile Devices
$screen-md-min: 700px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
$screen-xxl-min: 1500px; // Large desktops