<div class="tnc_overlay" *ngIf='showTerms'>
    <div class="tnc_body">
        <div class="tnc_title">
            <div>Terms and Conditions</div>
            <mat-icon class="material_icon" (click)='toggleTermsAndCondition()'>close</mat-icon>
        </div>
        <div class="tnc_container">
            <div class="tnc_header">Exam Terms and Conditions</div>
            <div>
                THESE TERMS ARE SUBJECT TO CHANGE FROM TIME TO TIME IN LARSEN & TOUBRO’S SOLE DISCRETION. IT IS YOUR RESPONSIBILITY TO REVIEW THESE TERMS CAREFULLY AS YOU MUST COMPLY WITH THE MOST CURRENT VERSION OF THE AGREEMENT.
            </div>
            <div class="tnc_header">Details</div>
            <div>
                Larsen & Toubro’s Exam Terms and Conditions (the "Terms") are entered into between the examinee ("You") and Larsen & Toubro LLC. ("Larsen & Toubro") as of the date you click "I agree" below (the "Effective Date").
            </div>
            <div class="tnc_header">Eligibility</div>
            <div>
                Larsen & Toubro’s Exams: you must be at least 18 years of age to be eligible for any Larsen & Toubro exam.
            </div>
            <div class="tnc_header">Confidential Information</div>
            <div>
                The content of the Exam, including without limitation, questions, answers, or any communication, including oral communication, regarding or related to the Exam is Larsen & Toubro’s confidential information ("Confidential Information"). Any disclosure
                of Confidential Information is a violation of these Terms and could compromise the integrity and security of this exam. Larsen & Toubro makes exams available to you solely for the purpose of demonstrating competency in the content area
                assessed by the Exam. You are expressly prohibited from disclosing, publishing, reproducing, copying, selling, posting, downloading or transmitting any Confidential Information, in whole or in part, in any form or by any means, oral or
                written, electronic or mechanical, for any purpose
            </div>
            <div class="tnc_header">Certification/Revocation</div>
            <div>
                If you violate these Terms, you may be prohibited from taking the Exam and/or any other Larsen & Toubro Exam; you may be decertified from any Larsen & Toubro Certification Program; and Larsen & Toubro, in its sole discretion, may terminate any applicable
                business relationship with you and prohibit you from accessing any of our exam services.
            </div>
            <div class="tnc_header">Misconduct</div>
            <div>
                If Larsen & Toubro discovers that you have violated these Terms or assisted others in doing so:
            </div>
            <div>(1) you may lose all Larsen & Toubro certifications</div>
            <div>(2) you may be barred from taking or retaking any exam, and</div>
            <div>
                (3) Larsen & Toubro, at its sole discretion, may choose to terminate any applicable relationship with you, if one exists.
            </div>
            <div>
                Examples of misconduct and/or misuse of the Exam include but are not limited to:
            </div>
            <ul>
                <li>Providing false or fraudulent identification</li>
                <li>Providing or accepting improper assistance</li>
                <li>
                    Disseminating actual Exam content by any means including, but not limited to, web postings, formal or informal test preparation or discussion groups, reconstruction through memorization or any other method
                </li>
                <li>Having non-authorized items in your possession during the Exam</li>
                <li>
                    Using unauthorized materials (including brain-dump material and/or unauthorized publication of Exam questions with or without answers) to prepare for the Exam
                </li>
                <li>Making notes of any kind during the Exam</li>
                <li>Removing or attempting to remove Exam material (in any format)</li>
                <li>Intentionally causing a disturbance of any kind during the Exam</li>
                <li>
                    Modifying and/or altering the results and/or score report for this Exam or any other Exam record
                </li>
                <li>Circumventing the Exam retake policy</li>
                <li>Misrepresentation of certification status</li>
                <li>Misconduct as determined by statistical analysis</li>
                <li>
                    Unauthorized accessing of Exam or Exam content (including access of materials in forums, chat rooms, discussion groups, blogs or other sharing sites with intent to circumvent Exam procedures)
                </li>
                <li>Failing and Retaking the Exam</li>
            </ul>
            <div class="tnc_header">Personal Information and Privacy</div>
            <div>
                When we collect and process your personal information during participation in the Exam, your personal information is handled in accordance with Larsen & Toubro’s Privacy Policy, as well as the additional Exam Privacy and Policies Terms below.
            </div>
            <div>
                In providing Exam services, we may collect personal information such as:
            </div>
            <ul>
                <li>Your answers to exam questions and the results of the exam</li>
                <li>A record of your interactions with our performance-based exams</li>
                <li>Your certification status</li>
                <li>
                    Photographic and/or video recordings taken to confirm your identity, prevent fraud, and to otherwise help administer and score the test
                </li>
            </ul>
            <div class="tnc_header">Larsen & Toubro Exam Privacy and Policies</div>
            <div>
                Below is the Exam Privacy and Policies agreement that is presented to the examinee during the registration process.
            </div>
            <div class="tnc_header">Instructions to examinee</div>
            <div>
                Read the following terms carefully. If you accept the terms, please click the checkbox next to the Start button alongside. If you do not accept the terms of this agreement, you will not be permitted to take the exam.
            </div>
            <div class="tnc_header">Privacy</div>
            <div>
                As part of taking the Exam, Larsen & Toubro will capture your personal information which includes, but is not limited to, your photograph, your digital keystroke patterns, and your personally identifying information (including, but not limited to, name,
                address, company, title). In addition, as part of the online proctoring of each Exam, if applicable, Larsen & Toubro or an agent of Larsen & Toubro may be watching a live webcast of you at your session (and can communicate with you, tell
                you to stop taking cell phone calls, etc.). All information collected in connection with the Exam shall collectively be referred to as "Exam Information". The Larsen & Toubro Privacy Policy describes how we treat personal information when
                you use Larsen & Toubro’s products and services, including the Exam Information. In addition, the following describes our privacy practices that are specific to the Exam.
            </div>
            <div>
                All Exam Information you submit to Larsen & Toubro is collected by Larsen & Toubro or its authorized agents in India, as well as the jurisdiction where you take the Exam. Exam Information may be shared with our affiliates, subsidiaries or joint ventures
                in other jurisdictions for Exam purposes. This Policy is governed by the laws of India.
            </div>
            <div class="tnc_header">How will Exam Information be used?</div>
            <div>The Exam Information you submit is used for the following purposes:</div>
            <ul>
                <li>Registering test takers to take exams</li>
                <li>Ensuring the security of the Exam process</li>
                <li>Your Choices</li>
                <li>
                    Submitting your Exam Information is voluntary. However, if you choose not to submit your Exam Information, you will not be permitted to take the Exam.
                </li>
            </ul>
            <div class="tnc_header">Who may access your data?</div>
            <div>
                Larsen & Toubro employees, affiliated companies or entities acting on behalf of Larsen & Toubro process Exam Information for the purposes listed above. Larsen & Toubro takes appropriate technical, organizational, and legal steps to protect Exam Information.
                Affiliate companies or entities acting on behalf of Larsen & Toubro with whom we share your Exam Information will be bound by terms of confidentiality.
            </div>
            <div class="tnc_header">Does Larsen & Toubro keep your data?</div>
            <div>
                Exam Information is retained in accordance with local law. We may also retain Exam Information to:
            </div>
            <ul>
                <li>Dispute resolutions around test taking and passing</li>
                <li>
                    Do demographic and similar non-personally identifiable analyses regarding the test taker populations, pass rates, and other behaviors
                </li>
            </ul>
            <div class="tnc_header">Contacting Us</div>
            <div>
                For more information about our privacy practices, please contact us through this website any time, or write to us at:
            </div>
            <address>
                Larsen & Toubro <br>
                HQ Chennai <br>
                Manapakkam
            </address>
        </div>
    </div>
</div>