<div class="limiter">
    <div class="row container-reg200">
        <div class="igniteLogo border-right no_pl">
            <div class="main-logo">
                <img alt="" class="beforeloginimg" src="assets/images/onlineexam.png">
            </div>
            <div class="row m-t-7">
                <div class="col-8 box-border">
                    <div class="container aos-init aos-animate" data-aos="fade-up">
                        <div class="row d-flex responsivelogin">
                            <div class=" d-flex eachitemresponsive">
                                <div class="icon_bg"> <img src="assets/images/t1.svg"> </div>
                                <div class="icon"> <i class="bx bx-file"></i> </div>
                                <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                                    <p class="description"> Try a Test experience
                                        <br>
                                        <a target="_blank" href="https://info.lntedutech.com"
                                            class="btn-get-started scrollto glightbox btn-watch-video">Get Started</a>
                                    </p>
                                </div>
                            </div>

                            <div class="eachitemresponsive">
                                <div class="icon_bg"> <img src="assets/images/proctor.svg"> </div>
                                <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                                    <div class="icon"><i class="bx bx-world"></i></div>
                                    <p class="description"> Know how Auto-Proctoring works <br>
                                        <a target="_blank" href="https://info.lntedutech.com"
                                            class="btn-get-started scrollto glightbox btn-watch-video">Get Started</a>
                                    </p>
                                </div>
                            </div>

                            <div class="eachitemresponsive">
                                <div class="icon_bg"> <img src="assets/images/mail.svg"> </div>
                                <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                                    <p class="description">For technical assistance</p>
                                    <h4 class="title"><a class="mail" href="mailto:{{'assess.support@lntedutech.com'}}">
                                            assess.support@lntedutech.com</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="loginWrapper">
            <form [formGroup]="loginForm" autocomplete="off">
                <h1 class="animated animatedFadeInUp fadeInUp signIn responsivetext"> {{'Sign in to your account'}}</h1>
                <!-- ******************** User Name ******************** -->
                <mat-form-field appearance="outline">
                    <mat-label class="label-color">{{'Username'}}</mat-label>
                    <input matInput id="username" [placeholder]="'Enter the username'" formControlName="username"
                        maxlength="64" required>
                    <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                </mat-form-field>
                <ng-container *ngIf="username.invalid && username.touched">
                    <mat-error class="error" *ngIf="username?.errors?.required">{{'Username is required'}}
                    </mat-error>

                    <mat-error class="error" *ngIf="username.errors?.pattern">{{'Please enter a valid username'}}</mat-error>
                </ng-container>

                <!-- ************************ Password *********************** -->


                <mat-form-field appearance="outline">
                    <mat-label class="label-color">{{'Password'}}</mat-label>
                    <input matInput [placeholder]="'Enter password'" [type]="hide ? 'password' : 'text'"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid': password?.touched && password?.errors?.required}" required>
                    <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
                    <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon class="icon-color-visible">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                </mat-form-field>
                <ng-container *ngIf="password?.invalid && password?.touched">
                    <mat-error class="error" *ngIf="password?.errors?.required">{{'Password is required'}}
                    </mat-error>
                </ng-container>

                <div class="tacbox">
                    <label for="checkbox">By “Signing In”, I acknowledge to have read, understood and agree with
                        assessment Terms & Conditions. I agree to the Privacy Policy of the assessment
                        processes.</label>
                </div>
                <div class="center">
                    <button class="btn" [readonly]="!loginForm.valid" id="login" mat-raised-button
                        (click)="login()">{{'SIGN IN'}}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="footer">
        <div class="message"><a class="link" target="_blank" href="https://info.lntedutech.com/">Click here to view
                Platform instructions</a></div>
        <span class="forgot1"> {{currentYear}} © L&T EduTech All Rights Reserved</span>
    </div>
    <ng-template #multiLogin>
        <p class="multiLoginDiv">An active test session has been detected on your login. Please terminate/close the session to be able to re-login into your test. Close the browser or Restart system in case terminating active session is not possible</p>
        <div class="buttonDiv">
                <button class="popUpButton" mat-raised-button color="primary" (click)="clearPopUp()">Cancel</button>
                <button class="popUpButton" mat-raised-button color="primary" (click)="clearUserSession()">Okay</button>
          
        </div>
    </ng-template>
</div>