<div class="container">
  <main>
    <div class="top-row">
      <div class="title">Assessments</div>
      <button class="schedulebth" mat-flat-button routerLink="/admin/assessments/create">
        <div class="align-both">
          <span class="material-icons">add </span>
          <span class="align">Create Assessment </span>
        </div>
      </button>
    </div>
    <div class="mainactions">
      <div class="left">
        <div class="filter-field">
          <span>Status</span>
          <mat-form-field appearance="outline">
            <mat-select [(value)]="selectedFilterValue" (selectionChange)="onFilterValueChange(selectedFilterValue)">
              <mat-option *ngFor="let filterValue of filterValues" [value]="filterValue.viewValue">
                {{ filterValue.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="right">
        <div class="search-field">
          <app-search [searchPlaceHolder]="'Search by Assessment Name'" (searchEvent)="onSearch($event)"></app-search>
        </div>
      </div>
    </div>
    <!-- <section class="main-actions">
            <div class="search-field">
                <app-search [searchPlaceHolder]="'Search'" (searchEvent)="onSearch($event)"></app-search>
            </div>
            <div class="filter-field">
                <mat-form-field>
                    <mat-select [(value)]="selectedFilterValue" (selectionChange)="onFilterValueChange(selectedFilterValue)">
                        <mat-option *ngFor="let filterValue of filterValues" [value]="filterValue.viewValue">
                            {{ filterValue.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="create-action">
                <button mat-flat-button routerLink="/admin/assessments/create">Create</button>
            </div>
        </section> -->
    <div>
      <ng-container>
        <div class="package-list">
          <app-infinite-scroll-list [packageTemplates]="packageContents.data" [pageMetadata]="packageContents.meta"
            [searchString]="searchString" [status]="selectedFilterValue" [canViewPackage]="!canViewPackage"
            [showLazyLoading]="showLazyLoading"></app-infinite-scroll-list>
        </div>
      </ng-container>
    </div>
  </main>
</div>