<main class="main" id="ankit">
    <div id="ankit">
        <ng-template #matDialog>

            <div class="assessments">
                <!-- <button mat-icon-button class="close-button" (click)="navtoVideo()">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
              </button> -->
                <iframe class="system" src="../../../assets/templates/test.html" title="description" height="80vh" width="100%"></iframe>
            </div>
            <div class="align" *ngIf="isfinish == true || isfinish == 'true'">
                <button class="btn-next" (click)="navtoVideo()" mat-button>Finish </button>
            </div>
        </ng-template>
    </div>
</main>