<div class="bulk-wrapper">


  <div class="header-block">
    <span class="header-block__title-font-size">Bulk Schedule</span>
    <div class="header-block__buttons-align">
    </div>
  </div>

  <form class="form" [formGroup]="bulkscheduleForm" novalidate>
    <div class="create-form__overflow">
      <div class="schedule-assessment-block">
        <div class="schedule-assessment-block__align">

          <span class="auto-complete-block__align">
            <mat-form-field appearance="fill">
              <mat-label>Organization</mat-label>
              <mat-select required formControlName="orgId">
                <mat-option (click)="orgChange(org)" *ngFor="let org of listOfOrg" [value]="org?.id">
                  {{org?.name}}</mat-option>
              </mat-select>
              <div class="mat-input-field__error" *ngIf="validateFormField('orgId')">
                Required
              </div>
            </mat-form-field>

          </span>
          <label class="custom-label__font">
            Schedule Name
            <input formControlName="batchName" required type="text"
              class="schedule-assessment-block__custom-input-field" />
            <div class="input-field__error" *ngIf="validateFormField('batchName')">Required</div>
          </label>
          <label class="custom-label__font">
            Description
            <textarea formControlName="scheduleDescription" required cols="62" rows="4"
              class="schedule-assessment-block__text-area-width"></textarea>
            <div class="input-field__error" *ngIf="validateFormField('scheduleDescription')">
              Required
            </div>
          </label>
        </div>
      </div>
    </div>
  </form>

  <div class="reports-wrapper">
    <div class="">
      <div class="d-flex">
        <h2>
          Candidate upload For Bulk schedule
        </h2>
        <button class="downloadtemplate" (click)="downloadTemplate()">Download template</button>
      </div>

      <div class="border-box">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="fileDropped($event)" accept=".csv"
          contentClassName="ngx-file-drop" [multiple]="false">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="upload" style="cursor: pointer;" (click)="openFileSelector()">
              <div class="btn"> Click to Browse </div>
              <div class="front"> Or </div>
              <div class="front"> Drag & Drop CSV File </div>
            </div>
          </ng-template>
        </ngx-file-drop>
        <!-- <span class="exit-upload-mode__align" (click)="exitUploadMode()">Cancel</span> -->
        <div *ngIf="showCsvFileInformation">
          <p class="uploaded-heading">
            <b>Uploaded : </b> {{csvFileName}}
            <span><button class="delete-file-button__style" (click)="deleteCsvFile()">
                Delete
              </button></span>
          </p>
        </div>
      </div>

      <div class="btn-align" *ngIf="csvFileName">
        <!-- [disabled]="isAssessmentPackageInvalid()" -->
        <button class="submit" (click)="bulkSchedule()">
          Submit
        </button>
      </div>
    </div>


  </div>
</div>