<!-- <router-outlet></router-outlet> -->

<main class="main">
    <!-- <uap-test-information></uap-test-information> -->
    <!-- <uap-video-interview></uap-video-interview> -->
    <!-- <iframe src="../../../assets/templates/test.html" title="description" height="200" width="300"></iframe>
 -->

    <div class="landing-padding_all">

        <section class="welcome" *ngIf="disableConsent == false">
            <!-- <div class="welcome__heading">Welcome !</div>
            <p class="welcome__text">You have been invited to take up an assessment by L&T EduTech.</p>
            <form class="user-details" [formGroup]="candidateDetailsForm">
                <div class="name-field">
                    <div class="form-field">
                        <label>First Name</label>
                        <mat-form-field appearance="standard">
                            <input formControlName="firstName" matInput placeholder="Enter your first name" required [readonly]="disableConsent">
                        </mat-form-field>
                        <div *ngIf="candidateDetailsForm.controls.firstName.hasError('required')" class="form-field__error">
                            Required
                        </div>
                    </div>
                    <div class="form-field">
                        <label>Last Name</label>
                        <mat-form-field appearance="standard">
                            <input formControlName="lastName" matInput placeholder="Enter your last name" required [readonly]="disableConsent">
                        </mat-form-field>
                        <div *ngIf="candidateDetailsForm.controls.lastName.hasError('required')" class="form-field__error">
                            Required
                        </div>
                    </div>
                </div>
                <div class="consent">
                    <mat-checkbox formControlName="consent" (click)="updateAssessmentData()" [disabled]='disableConsent' required>I understand and accept Larsen & Toubro's <span (click)='toggleTermsAndCondition()' class="terms_red">Terms and Conditions</span> of usage.</mat-checkbox>
                </div>
            </form>-->
        </section>
        <section class="assessment-summary" *ngIf="showAssessmentSummary">
            <div class="header_info">
                <div class="_htxt">
                    <div class="assessment-summary__heading">My Tests
                        <div class="backButton">
                            <button *ngIf="checkButton != 'false'" (click)="backCode()" type="button"
                            class="code-searchbtn">
                            <mat-icon class="back-icon">keyboard_backspace</mat-icon>
                            <span> Switch Assessment</span>
                        </button>

                            <!-- <button (click)="viewresult()" *ngIf="assessmentData?.data?.attributes?.result_published == true"
                            class="result" mat-stroked-button>View result</button> -->
                        </div>
                    </div>

                    <!-- <button (click)="viewresult()" *ngIf="assessmentData?.data?.attributes?.result_published == true"
                        class="result" mat-stroked-button>View result</button> -->
                    <span class="assessment-summary__text"
                        *ngIf="assessmentData?.data?.attributes?.result_published != true">
                        <div class="htxt">
                            <p></p>
                            <p class="desc-para"><span class="material-icons info-icon">
                                    info
                                </span> {{assessmentData?.data?.attributes?.packageDes}}</p>
                        </div>
                    </span>


                    <div *ngIf="isAllTasksCompleted && !notShowThankYou">&#160;</div>
                    <button *ngIf="backToCertificationPortal" (click)="redirectTo()" class="back_"><em> <img alt="back"
                                src="../../../assets/back.svg" /></em>Back</button>

                    <div *ngIf='isAllTasksCompleted && !notShowThankYou' class="thankyou">
                        <div class="close" (click)="notShowThankYou = !notShowThankYou"></div>
                        <div class="icon"> &#160;
                            <div class="check"></div>
                        </div>
                        <div class="second">
                            <div class="thank">Thank You !</div>
                            <div>You have completed this assessment and can now close this window safely.</div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <button (click)="nav()">nav</button> -->

            <app-task-cards (summaryDetails)="summaryDetails($event)" [canTakeAssessment]="canTakeAssessment"
                [assessmentTasksList]="assessmentTasksList"></app-task-cards>

            <!-- <div class="assessment-summary__message" *ngIf='isAllTasksCompleted'>
                <span class="thank_you">Thank You ! &nbsp; </span> You have completed this assessment and can now close this window safely.
            </div> -->

        </section>
    </div>
</main>

<app-terms-and-condition [showTerms]='displayTermsAndCondition' (hideTerms)='toggleTermsAndCondition()'>
</app-terms-and-condition>