.reports-wrapper {
    position: relative;
    padding: 35px 1em;
    margin-left: 1.25em;
    box-sizing: border-box;
    width: 99%;
    display: flex;
    justify-content: flex-start;
    margin-right: 1.25em;

    .example-headers-align {
        width: 100%;

        .mat-expansion-panel-header-title,
        .mat-expansion-panel-header-description {
            display: flex;
            flex-grow: 1;
            margin-right: 16px;
            font: bold 18px/1 "Roboto", sans-serif;
            align-items: center;
        }

        .mat-expansion-panel {
            margin-bottom: 1.5%;
        }

        .mat-expansion-panel-header {
            height: 60px;
        }

        .steps {
            width: 90px;
            height: 40px;
            background: #999999 0% 0% no-repeat padding-box;
            border-radius: 20px;
            opacity: 1;
            justify-content: center;
            align-items: center;
            display: flex;
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            margin-right: 14%;
        }
    }

    .query-wrapper {
        display: flex;
        flex-direction: row;
        align-content: flex-start;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .query-form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .fields-wrapper {
                text-align: center;
            }
        }

        .rotate {
            animation: rotation 0.8s infinite linear;
        }

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(359deg);
            }
        }
    }
}

.fields-wrapper {
    min-width: 55px;

    mat-label {
        color: #fff;
    }
}

h2 {
    font: bold 26px/1 "Roboto", sans-serif;
}

.label {
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.btnConnect {
    height: 33px;
    border-radius: 30px;
    min-width: 110px;
    margin-right: 1em;
    background-color: #be2020 !important;
    color: #fff !important;
    line-height: 1.5;
    margin-top: 1.75em;
    box-shadow: none;
    margin-left: 5px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 18px;
    }

    @media screen and (max-width: 768px) {
        margin-left: 0;
        width: 95%;
    }
}

.btnReset {
    min-width: 0px;
    background-color: transparent;
    box-shadow: none;
    height: 33px;
    color: #fff;
    line-height: 1.5;
    margin-top: 0.1em;
    border-radius: 30px;

    &.whitebg {
        border: 1px solid #be2020;
        color: #be2020;
    }

    @media screen and (max-width:768px) {
        margin-top: 1em;
        width: 95%;
    }
}

mat-icon.mat-icon {
    font-size: 20px;
    line-height: 1;
    color: #949494;
}

.wrapperhtxt {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.7;
    margin: 0.8em 0 0.4em;
    position: relative;
}

.label {
    color: #000 !important;
}

.wt-33 {
    width: 33%;
}

.m-l-70 {
    margin-left: 45px !important;
}

.select {
    min-width: 310px;
}

.w-540 {
    width: 540px !important;
}

.heading {
    margin-bottom: 8px;
    font-size: 20px;
}

.w-100 {
    width: 100% !important;
    padding-right: 23px;
}

.select1 {
    width: 105px;
}

.w-5 {
    width: 8% !important;
    margin-left: 0.7%;
}

.m-t-10 {
    margin-top: 10px;
    height: 29px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
:host ::ng-deep .mat-button-disabled {
    background: #C02222 !important;
    color: white !important;
    cursor: not-allowed;
    opacity: 0.5;
}

.mt-4 {
    margin-top: 4% !important;
}

.mt-2 {
    margin-top: 2% !important;
}

.errorSign {
    color: #C02222;
    margin-left: 5px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
:host ::ng-deep .mat-button-disabled:hover {
    background: #C02222 !important;
    color: white !important;
    cursor: not-allowed;
    opacity: 0.5;
}

:host ::ng-deep .mat-form-field-disabled {
    cursor: not-allowed;

    .mat-mdc-input-element {
        cursor: not-allowed;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
:host ::ng-deep .mat-select-disabled {
    cursor: not-allowed;

    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
    .mat-select-value {
        cursor: not-allowed;
    }
}

.wt-20 {
    width: 20%;
}

.display-flex {
    display: flex !important;
}

::ng-deep .custom-mat-tooltip {
    position: relative !important;
    bottom: 80px !important;
    background-color: black !important;
    opacity: 1 !important;
    right: 10px !important;
    width: 600px !important;
    font-size: 12px !important;
}

:host ::ng-deep .mat-expansion-panel-header-description {
    flex-grow: 0 !important;
}

.btn {
    background-color: #C02222;
    color: #fff;
    margin-right: 20px;
}

.prevent-click {
    pointer-events: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-underline {
    display: none !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep.mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    padding-top: 0 !important;
}

.collapsible {
    overflow: hidden;
}

.icon {
    position: absolute;
    top: 71px;
    right: 8px;
    cursor: pointer !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 4px 0px 6px 0px !important;
    line-height: 1 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-label-wrapper {
    top: -18px !important;
}

:host ::ng-deep .input.mat-mdc-input-element {
    margin-top: -6px !important;
}

.arrow_up {
    font-weight: 800 !important;
}

mat-error {
    font-size: 12px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-subscript-wrapper {
    margin-top: 4px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select {
    padding-bottom: 0px;
}

mat-label {
    bottom: 1px;
    position: relative;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-flex {
    height: 40px;
    display: flex;
    align-items: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-infix {
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    padding: 0.6em 0 1em 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.mat-select-value {
    color: #333333;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #bebebe !important;
    background-color: #fff;
    border-radius: 3px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #C02222 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
:host ::ng-deep .mat-mdc-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #333333 !important;
}

:host ::ng-deep mat-form-field span.mat-mdc-form-field-label-wrapper label {
    color: #333333 !important;
    opacity: 0.9;
    font-size: 12px;
}

:host ::ng-deep mat-form-field.mat-focused span.mat-mdc-form-field-label-wrapper label {
    color: #808080 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: none !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
::ng-deep .mat-primary .mat-mdc-option.mat-selected:not(.mat-option-disabled) {
    color: #C02222;
}

.ag-body-horizontal-scroll-viewport {
    height: 8px !important;
    max-height: 8px !important;
    min-height: 8px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 4px 4px 0 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 4px 0 0 4px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline :host ::ng-deep .mat-form-field-wrapper {
    margin: 0 !important;
}

:host ::ng-deep .mat-drawer-container {
    background-color: #fff !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 .75em 0 .75em !important;
    border-radius: 4px !important;
    border: 1px solid #bebebe !important;
    background-color: #fff !important;
    height: 36px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-mdc-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-mdc-icon-button {
    margin-right: -10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
:host ::ng-deep .mat-select-disabled .mat-select-value {
    color: #000;
    opacity: .7;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: #000;
    font-weight: 500;
    opacity: .7;
}

:host ::ng-deep .btnConnect.disabled,
.btnConnect:disabled {
    opacity: .35 !important;
    background-color: gray !important;
    cursor: not-allowed !important;
    color: #fff !important;
}

// ::ng-deep .mat-mdc-select-panel {
//     min-width: calc(100% + 40px) !important;
// }

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    width: 0 !important;
    background: transparent !important;
}