<!-- level-one -->
<div *ngIf="level.toLowerCase()==='beginner'">
  <div class="stick-one"></div>
  <div class="stick-two"></div>
  <div class="stick-three"></div>
</div>
<!-- Level-two -->
<div *ngIf="level.toLowerCase()==='practitioner'">
  <div class="stick-one"></div>
  <div class="stick-two-fill"></div>
  <div class="stick-three"></div>
</div>
<!-- level-three -->
<div *ngIf="level.toLowerCase()==='professional'"> 
  <div class="stick-one"></div>
  <div class="stick-two-fill"></div>
  <div class="stick-three-fill"></div>
</div>
